.newsletter {
    border: 1px solid #000;
    border-top-width: 12px;
    max-width: 640px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    h3 {
        font-size: 36px;
        margin: 0 0 15px;
    }
    p {
        margin: 0;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    input {
        height: 53px;
        border: 1px solid #000;
        padding: 0 15px;
        border-radius: 0;
        outline: none;
        font-size: 20px;
    }
    button {
        background: #000;
        border: none;
        outline: none;
        color: #FFF;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 0;
        cursor: pointer;
        &:hover {
            background: lighten(#000, 20%);
        }
    }
}