* {
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	color: $color-text;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		color: $color-accent;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure {
	padding: 0;
	margin: 0;
}