* {
	box-sizing: border-box;
}

body {
	font-family: 'Tinos', serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
a:hover {
	color: #22BFA0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure {
	padding: 0;
	margin: 0;
}