.footer {
	background: #000;
	color: #FFF;
	text-align: center;
	padding-bottom: 30px;
}
.footer marquee {
	text-transform: uppercase;
	font-size: 20px;
	padding: 20px 0;
}
.footer marquee span {
	margin-right: 20px;
}
.footer marquee span:nth-child(odd) {
    font-weight: 700;
}
.footer .widget_text:not(.widget_custom_html) {
	max-width: 488px;
	margin: 0 auto;
	line-height: 1.4;
}
.footer .widget_text:not(.widget_custom_html) a {
	display: block;
	font-size: 30px;
	text-decoration: none;
	margin: 130px 0 25px;
}
.footer a {
	color: #FFF;
}
.footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.footer li {
	margin: 0 15px;
}
.footer li a {
	text-decoration: underline;
}
.footer small {
	display: block;
	margin-top: 60px;
}