.header {
    font-weight: 700;
	border-bottom: 1px solid rgba(0,0,0,.16);
}
.header-inner {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 60px;
	display: flex;
	align-items: center;
}
.header a {
	color: #000;
	display: block;
}

.header-nav {
	margin-left: auto;
	font-size: 20px;
	text-transform: uppercase;
}
.header-nav ul {
	margin-left: auto;
	display: flex;
}
.header-nav li {
	margin-left: 30px;
}
.header-nav li a {
	padding: 50px 0;
}
.header-nav .current-menu-item {
	border-bottom: 2px solid #000000;
}