.header {
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,.16);
    // background: red;
    @include responsive(sm) {
        // background: yellow;
    }
    &-inner {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include responsive(md) {
            flex-wrap: nowrap;
            padding: 0 60px;
        }
    }
    &-nav {
        margin-left: auto;
        font-size: 20px;
        text-transform: uppercase;
        display: none;
        width: 100%;
        background: #F4F4F4;
        @include responsive(md) {
            background: transparent;
            display: block;
            width: auto;
        }
        ul {
            @include responsive(md) {
                margin-left: auto;
                display: flex;
            }
        }
        li {
            @include responsive(md) {
                margin-left: 30px;
            }
            
            &.current-menu-item {
                @include responsive(md) {
                    border-bottom: 2px solid #000000;
                }
            }
            a {
                padding: 10px 20px;
                @include responsive(md) {
                    padding: 50px 0;
                }
            }
        }
    }

    .custom-logo-link {
        margin-left: 20px;
        @include responsive(md) {
            margin-left: 0;
        }
    }

    a {
        color: #000;
        display: block;
    }
}

.menu {
    &-input {
        display: none;
        &:checked {
            ~ .header-nav {
                display: block;
            }
            ~ .menu-trigger {
                background: #F4F4F4;
            }
        }
    }
    &-trigger {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        @include responsive(md) {
            display: none;
        }
    }
}
