.main-home {
	max-width: 668px;
	margin: 0 auto;

	h2 {
		font-weight: 700;
		font-size: 32px;
		text-align: center;
		margin: 55px 0 30px;
		@include responsive(md) {
			font-size: 40px;
			margin: 65px 0 40px;
		}
	}
}
